apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker-1
  labels:
    app: worker-1
spec:
  replicas: 2
  selector:
    matchLabels:
      app: worker-1
  template:
    metadata:
      labels:
        app: worker-1
    spec:
      containers:
      - name: worker-1
        image: andrirj/worker-1:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 5000
        env:
        - name: VERSION
          value: "1.0.0"
        resources:
          requests:
            memory: "64Mi"
            cpu: "50m"
          limits:
            memory: "128Mi"
            cpu: "100m"
        livenessProbe:
          httpGet:
            path: /api/health
            port: 5000
          initialDelaySeconds: 10
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /api/health
            port: 5000
          initialDelaySeconds: 5
          periodSeconds: 5
