apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker-1
  labels:
    app: worker-1
spec:
  replicas: 2
  selector:
    matchLabels:
      app: worker-1
  template:
    metadata:
      labels:
        app: worker-1
    spec:
      containers:
      - name: worker-1
        image: andrirj/worker-1:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 5000
        env:
        - name: VERSION
          value: "1.0.0"
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 250m
            memory: 256Mi
        livenessProbe:
          httpGet:
            path: /api/health
            port: 5000
          initialDelaySeconds: 20
          timeoutSeconds: 3
          periodSeconds: 10
          failureThreshold: 5

        readinessProbe:
          httpGet:
            path: /api/health
            port: 5000
          initialDelaySeconds: 5
          periodSeconds: 5
